@page "/interop"
@rendermode InteractiveWebAssembly
@using System.Runtime.InteropServices.JavaScript

<h1>
    JS <code>[JSImport]</code>/<code>[JSExport]</code> Interop
    (Call JS Example 1)
</h1>

<div id="password">current value</div>
<MudButton OnClick="Change">Press Me!</MudButton>

@(message is not null ? message : string.Empty)

@code {
    private string? message;

    protected override async Task OnInitializedAsync()
    {
        if (OperatingSystem.IsBrowser())
        {
            await JSHost.ImportAsync("InteropTest",
                "../Pages/InteropTest.razor.js");

            message = GetWelcomeMessage();
        }
    }

    private void Change()
    {
        ChangeText("password");
    }
}